body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.box {
    width: 90vw;
    max-width: 500px;
    height: 80vh;
    border: 10px solid black;
}

.item-img {
    width: 400px;
    height: 350px;
}

.main {
    display: flex;
    justify-content: center;
    text-align: center;
}

.win {
    color: green;
    border: 10px solid green;
}

.lose {
    color: red;
    border: 10px solid red;
}

.tie {
    color: gray;
    border: 10px solid gray;
}

.user-button {
    width: 100px;
    height: 40px;
    position: relative;
    top: 15px;
    border-radius: 10px;
    font-weight: 900;
}

.end-button {
    width: 100px;
    height: 40px;
    position: relative;
    top: 15px;
    border-radius: 10px;
    font-weight: 900;
    background-color: lightcoral;
}

.resume-button {
    width: 100px;
    height: 40px;
    position: relative;
    top: 15px;
    border-radius: 10px;
    font-weight: 900;
    background-color: lightgreen;
}

.button:disabled {
    background-color: #ccc; /* 배경색 회색 */
    color: #666; /* 글자색 어둡게 */
    cursor: not-allowed; /* 마우스 커서를 '금지' 표시로 변경 */
    opacity: 0.6; /* 불투명도 조정 */
}